.todo{
    &-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-add{
        width: 40%;
        margin: 2% 0;
        display: flex;

        &-input{
            width: 80%;
            border: 2px solid violet;
            padding: 3px 10px;
        }

        &-button{
            padding: 3px 10px;
            color: violet;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }

    &-list{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid violet;

        &-item{
            display: flex;
            justify-content: space-between;
            padding: 5px;

            i{
                cursor: pointer;
            }
        }
    }


}