
<div class="todo-container">

    <div class="todo-add">
        <input type="text" class="todo-add-input" placeholder="ajouter une nouvelle tâche"/>
        <div class="todo-add-button"><i class="fa-solid fa-square-plus"></i></div>
    </div>

    <div class="todo-list">
        <div class="todo-list-item">
            <div>text</div>
            <div><i class="fa-regular fa-square"></i></div>
        </div>
        <div class="todo-list-item">
            <div>text</div>
            <div><i class="fa-regular fa-square"></i></div>
        </div>
        <div class="todo-list-item">
            <div>text</div>
            <div><i class="fa-regular fa-square"></i></div>
        </div>
    </div>

</div>